<!-- <article>
    <p>{{title}}</p>
    <p>Level : {{level}}</p>
</article> -->

<!-- <article class="course-card">
  <h3>{{ title }}</h3>

  @if (enrolled) 
  {
    <p>You are enrolled.</p>
  } 
  @else 
  {
    <button (click)="enroll()">Enroll</button>
  }
</article> -->

<!-- <p>Likes: {{ likes() }}</p>

<button (click)="incrementLike()">
  Like
</button> -->

<!-- <article class="course-card">
  <h3>{{ title() }}</h3>
  <p>Level: {{ level() }}</p>
</article> -->

<!-- <app-course-card
  title="Angular Components"
  level="Level 0 to Infinity">
</app-course-card> -->

<button (click)="selectCourse()">
  Select Course
</button>